# R garbage
.Rapp.history
.Rhistory
.Rproj.user
*.Rproj
.Rprofile

# Data
*.tre
*.score
*.nex
*.nex.*
tmp
*.count

# LaTeX
*.fls

# Paup jobs
*.paupjob.sh

# Git book garbage
inst/gitbook/_book/Inapplicable_data_files/*
